body{
    background-color: var(--laranja);
    background-image: url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

body::after{
    content: '';
    display: block;
    position: fixed;
    background: var(--gradiente-laranja);
    inset: 0;
    margin: auto;
    pointer-events: none;
    z-index: -1;
}

@media (min-width: 1200px) {
    
    body{
        padding: 0 0 0 55%;
        background-size: contain;
        background-position: left;
        background-image: var(--gradiente-laranja-desktop);
        place-items: center right;
    }

    body::after{
        background-image: url(../img/background-desktop.webp);
        background-size: cover;
        width: 55%;
        inset: auto;
        left: 0;
        top: 0;
        bottom: 0;
        filter: saturate(1.2);
    }

}